@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	
}
a:hover{
	text-decoration: none;
}
.main-color{
	color: #0b3a66
}
::-webkit-scrollbar{
	background-color: #09335d;
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: #fff;
	border: .5px solid #333;
	border-radius: 10px;    ;
	-webkit-border-radius: 10px    ;
	-moz-border-radius: 10px    ;
	-ms-border-radius: 10px    ;
	-o-border-radius: 10px    ;
}
.small-nav .container i{
	background-color: #fff;
	color: #09335d;
    width: 21px;
    height: 26px;
    text-align: center;
    line-height: 27px;
    font-size: 17px;
	border-radius:5px ;
	-webkit-border-radius:5px ;
	-moz-border-radius:5px ;
	-ms-border-radius:5px ;
	-o-border-radius:5px ;
}
.small-nav .container i:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	background-color: #09335d;
	color: #fff;
}
.small-nav{
	background-color: #fff;
	color: #09335d;
	align-items: center;
	position: relative;
}
.small-nav-toggle i{
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: 25px;
	display: none;cursor: pointer;
}
.small-nav-toggle{
	display: none;
}

/* smaaaaaaaaaaaaaaal naaaaaaaaaaaaaaaaaaaav */


/* first naaaaaaaaaaaaaaav baaaaaaaaaaaaaaaart */
.language{
	background-color: #fff;
	color: #09335d;
	background-color: #fff;
    color: #09335d;
    height: 29px;
    padding: 2px 4px;

}
.logo img{
    width: 172px;
    height: 100px;
    /* background-color: #041b3d; */
}
.navbar-light .navbar-toggler:focus{
	outline: none;
}
.big-nav{
	background-color:#09335d;
	box-shadow: 2px 2px 1px #eee;
	border-bottom: 1px solid #fff;
}
.big-nav li a{
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Merriweather', serif;
}
.big-nav li{
	position: relative;
}
.line{
    width: 0px;
    height: 2px;
    background-color: #fff;
    color: #fff;
    position: absolute;
    left: 10px;
}
.big-nav li:hover .line{
	width: 100%;
}
/* first naaaaaaaaaaaaaaav baaaaaaaaaaaaaaaart */

/* home paaaaaaaaaaage */
.swiper-slide img{
	width: 100%;
	height:600px;
	position: relative;
}
.swiper-slide-2 p{
    position: absolute;
    color: #fff;
    width: 50%;
	right: 26%;
    font-size: 24px;
    height: 50%;
    top: 25%;
	font-family: 'Merriweather', serif;	
}
.swiper-slide-1 p{
	position: absolute;
    color: #fff;
    right: 8%;
    font-size: 40px;
	top: 30%;
	font-family: 'Merriweather', serif;	
}
.swiper-slide-1 p {
    left: 8%}
/* end hooooooooooooooooome */
/* foooooooooooooooter */
.my-footer{
	background-color: #09335d;
	border-top:1px solid #fff;
	color: #fff;
}
.my-footer .d-flex{
	align-items: center;
}
.social i{
	color: #007aff;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	width: 32px;
    height: 32px;
    background: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 17px;
}
.social i:hover{
	color: #fff;
	background-color: #007aff;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
/* foooooooooooooooter */
/* about paaaaaaaaaaaaaaaaaaaaaage */
.about, .contactus , .Surgeries , .cases{
	background-color: #f7f7f7;
}
.about-left p{
	font-size: 20px;
	/* font-weight: bold; */
}
.about-right {
overflow: hidden
;}
.about-right img{
	box-shadow: 2px 2px 1px #ccc, -2px -2px 1px #ccc;
}
.about-right img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
/* contaaaaaaaaaaaaact us */
.heading hr{
	width: 80px;
	border: 1px solid #09335d;
}
.contact-map p{
	font-size: 18px;
}
.contact-map i{
	color: #09335d;
}
.contact-map{
	background-color: #fff;
	padding: 10px 5px;
	box-shadow: 1px 1px 1px #ccc,-1px -1px 1px #ccc;
}
.contact-form{
	width: 60%;
}
.contact-form .btn{
	width: 30%;
	margin-left: 35%;
	background-color: #09335d;
	color: #fff;
}
/* surg paaaaaaaaaaaaaaaaaaaaaeg */
/*
.img-parent img{
	width: 100%;
	height: 100%;
	border-radius:10px 0 0 10px ;
	-webkit-border-radius:10px 0 0 10px ;
	-moz-border-radius:10px 0 0 10px ;
	-ms-border-radius:10px 0 0 10px ;
	-o-border-radius:10px 0 0 10px ;
}
.card-parent{
	background-color: #fff;
	box-shadow: 2px 2px 2px #eee , -2px -2px 2px #eee;
	height: 100%;
	width: 100%;
	border-radius: 10px;;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
}
.card-content{
	padding: 10px;
}
.card-content h5{
	color: #09335d;
}
.card-content p{
	font-size: 15px;
}
.card-content i{
	font-size: 15px;
	padding: 0 10px;
    font-size: 29px;
}
.card-parent:hover img{
	opacity: .7;
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	-webkit-transform:scale(1.1);
}*/
.surg-2{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 2px 2px 14px 7px #ccc, -2px -2px 13px 6px #ccc;
   -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: #fff;
	padding: 20px;;
}
.surg-2 i{
	color: #007aff;
	font-size: 22px;
	margin: 10px!important
}
.surg-img{
	overflow: hidden;
}
.surg-img img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 2px 2px 14px 7px #ccc, -2px -2px 13px 6px #ccc;
	transition: .6s;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-ms-transition: .6s;
	-o-transition: .6s;
}
.surg-img img:hover{
	transform: scale(1.1);
	opacity: .7;
}



/* end surgeyyy */
/* staaaaaaaaaaaaart cases */

.mySlides {
    background-color: #fff;
    padding: 5px;
}

.mySlides {
    display: none;
}

.award-container .prev,
.award-container .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 7px;
    height: 44px;
    width: 30px;
    font-weight: bold;
    font-size: 20px;
}

    .award-container .prev:hover, .award-container .next:hover {
        background-color: #eee;
        color: #333 !important;
    }

.award-container .next {
    right: 14px;
}

.award-container .prev {
    left: 14px;
}

.award-small-img .active, .award-small-img .column img:hover {
    transform: scale(1.08);
}

.award-container .mySlides img {
    width: 60%;
    height: 400px;
    margin-left: 20%;
}

.award-small-img .column {
    overflow: hidden;
}

    .award-small-img .column img {
        width: 100%;
        height: 130px;
        box-shadow: 2px 2px 1px #eee, -2px -2px 1px #eee;
        padding: 5px;
        cursor: pointer;
        transition: 1s;
        border: 1px solid #09335d;
    }

        .award-small-img .active, .award-small-img .column img:hover {
            transform: scale(1.08);
            border: unset !important;
        }

.award-container h2 {
    font-size: 3em;
}

.award-container hr {
    background-color: #6c757d;
    width: 6%;
    transition: 1s;
}

.award-container:hover hr {
    width: 10%;
}




/* media queeeeeeeeeeeeeeri */

@media only screen and (max-width: 990px) {
	.small-nav-toggle i  {
	 display: block;
	 z-index: 99;
	 color: #09335d;
	 padding-top: 5px;
	}
	.small-nav-toggle{
		display: block;
	}
	.small-nav-toggle{
	 background-color: #fff;
	 top: 0;
	 right: 0;
	 left: 0;
	 height: 70px;
	 margin-bottom: 0;
	 padding: 30px;
	 position: relative;
	} 
	.small-nav-container{
		overflow: hidden;
		position: relative;
	}
	.open-small-nav{
	 position: absolute;
	 top: 0;
	 right: 0;
	 left: 0;
	 z-index: 9;
	 height: 0;
	 width: 100%;
	}
	.small-nav {
		color: #fff;
	}
	
	.open .open-small-nav{
		height: 200px;
		background-color: #09335d;
	}
	.open {
		overflow:visible;
		transition-delay: 2s;
	}
	.small-nav-phone{
		margin-top: 18px
	}
	.contact-form {
		width: 100%;
	}

  }
@media only screen and (max-width: 700px) {
	.row-media{
		display: flex;
		flex-direction: column-reverse;
	}
	.img-parent img{
		border-radius:0px 10px 10px 00px ;
		-webkit-border-radius:0px 10px 10px 00px ;
		-moz-border-radius:0px 10px 10px 00px ;
		-ms-border-radius:0px 10px 10px 00px ;
		-o-border-radius:0px 10px 10px 00px ;
}
}
@media only screen and (max-width: 500px) {
	.my-footer .d-flex  {
     flex-direction: column !important;
	}
	/* slider */
	.swiper-slide img {
		height: 350px;
	}
	.swiper-slide-1 p {
	    color: #fff;
		font-size: 19px;
		width: 56%;
		right: -6px;
	}
	.swiper-slide-2 p {
		width: 90%;
		width: 80%;
		right: 6%;
		font-size: 18px;
		height: auto;
		top: 8%;
	}

	.swiper-button-next {
		top: 135px;
		position: absolute;
		left: 10px;
	} 
	/* slider */
	.small-slide{
		width: 100%;
	  }
	  .award-container .mySlides img {
		width: 100%;
		 margin-left: 0;
	}
	.logo img {
		height: 85px;
	}
	.swiper-button-prev i , .swiper-button-next i{
		display: none;
	}

  }
